<div class="modal-backdrop" (click)="close()"></div>
<div class="modal-content" role="dialog" aria-modal="true">
  <h2>✏️ Modifier le produit</h2>

  <div class="detail-grid">
    <div class="image-box">
      <img [src]="getProductImage(product)" alt="{{ product.name }}" class="detail-img" />
      <input type="file" (change)="onFileChange($event)" />
    </div>

    <div class="info-box">
      <label>Nom:
        <input [(ngModel)]="formData.name" name="name" />
      </label>
      <label>Catégorie:
        <select [(ngModel)]="formData.category_id" name="category_id">
          <option *ngFor="let cat of categories" [value]="cat.id">{{ cat.name }}</option>
        </select>
      </label>
      <label for="supplier_id">Fournisseur</label>
      <select [(ngModel)]="formData.supplier_id" name="supplier_id" required>
        <option value="" disabled>-- Choisir un fournisseur --</option>
        <option *ngFor="let sup of suppliers" [value]="sup.id">
          {{ sup.name }}
        </option>
      </select>

      <label>Prix d’achat:
        <input type="number" [(ngModel)]="formData.buying_price" name="buying_price" />
      </label>
      <label>Prix de vente:
        <input type="number" [(ngModel)]="formData.selling_price" name="selling_price" />
      </label>
      <label>Quantité:
        <input type="number" [(ngModel)]="formData.quantity" name="quantity" />
      </label>
      <label>Seuil:
        <input type="number" [(ngModel)]="formData.threshold" name="threshold" />
      </label>
      <label>Expiration:
        <input type="date" [(ngModel)]="formData.expiry_date" name="expiry_date" />
      </label>
    </div>
  </div>

  <div class="modal-actions">
    <button type="button" (click)="close()">Annuler</button>
    <button type="button" (click)="submit()">Enregistrer</button>
  </div>
</div>
